@using MVCKutuphane.Models.Entity
@model List<TBL_OduncKitap>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Odunc Kitap Listesi</h2>

<table class="table table-bordered">
    <tr>
        <td>ID</td>
        <td>Kitap Adi</td>
        <td>Uye</td>
        <td>Personel</td>
        <td>Alis Tarihi</td>
        <td>Iade Tarihi</td>
        <td>Teslim Tarihi</td>
        <td>Iade Al</td>
    </tr>
    @foreach (var k in Model)
    {
        if (k.Teslim_Tarihi != null)
        {
            <tr>
                <td>@k.ID</td>
                <td>@k.TBL_Kitaplar.Kitap_Adi</td>
                <td>@k.TBL_Uyeler.Uye_Adi</td>
                <td>@k.TBL_Personel.Personel_Adi</td>
                <td>@k.Alis_Tarihi</td>
                <td>@k.Iade_Tarihi</td>
                <td>@k.Teslim_Tarihi</td>
            </tr>
        }
        else
        {
            <tr>
                <td>@k.ID</td>
                <td>@k.TBL_Kitaplar.Kitap_Adi</td>
                <td>@k.TBL_Uyeler.Uye_Adi</td>
                <td>@k.TBL_Personel.Personel_Adi</td>
                <td>@k.Alis_Tarihi</td>
                <td>@k.Iade_Tarihi</td>
                <td>@k.Teslim_Tarihi</td>
                <td><a href="/Odunc/OduncIade/@k.ID" class="btn btn-danger">Kitabi Iade Et</a></td>
            </tr>
        }

    }
</table>

