@model MVCKutuphane.Models.Entity.TBL_Kitaplar
@{
    ViewBag.Title = "KitaplarGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Kitap Güncelleme Sayfasi</h2>

@using (Html.BeginForm("KitapGuncelle", "Kitaplar", FormMethod.Post))
{
    <div style="margin-bottom:15px"></div>
    <div class="form-group">
        <div style="margin-bottom:15px">
            <label>Kitap ID</label>
            @Html.TextBoxFor(k => k.ID, new { @class = "form-control", @readOnly = "readonly" })
        </div>
        <div style="margin-bottom:15px">
            <label>Kitap Adi</label>
            @Html.TextBoxFor(k => k.Kitap_Adi, new { @class = "form-control", maxlength = 40, required = "" })
        </div>
        <div style="margin-bottom:15px">
            <label>Yazar</label>
            @Html.DropDownListFor(k => k.TBL_Yazar.ID, (List<SelectListItem>)
                ViewBag.dgr2, new { @class = "form-control", required = "" })
        </div>
        <div style="margin-bottom:15px">
            <label>Kategori</label>
            @Html.DropDownListFor(k => k.TBL_Kategori.ID, (List<SelectListItem>)
                ViewBag.dgr1, new { @class = "form-control", required = "" })
        </div>
        <div style="margin-bottom:15px">
            <label>Sayfa Sayisi</label>
            @Html.TextBoxFor(k => k.Sayfa_Sayisi, new { @class = "form-control", maxlength = 10000, required = "" })
        </div>
        <div style="margin-bottom:15px">
            <label>Yayin Evi</label>
            @Html.TextBoxFor(k => k.Yayin_Evi, new { @class = "form-control", maxlength = 16, minlength = 2, required = "" })
        </div>
        <div style="margin-bottom:15px">
            <label>Basim Yili</label>
            @Html.TextBoxFor(k => k.Basim_Yili, new { @class = "form-control", maxlength = 20, minlength = 4, required = "" })
        </div>
        <button class="btn btn-warning">Kitabin Bilgilerini Guncelle</button>
        <input type="hidden" name="Durum" value="True" />
    </div>
}

