@using MVCKutuphane.Models.Entity
@model List<TBL_Yazar>
@{
    ViewBag.Title = "Yazarlar";
    Layout = "~/Views/Shared/LayoutKullanici.cshtml";
}

<h2>Yazarlar</h2>


@using (Html.BeginForm("Yazarlar", "KitapIslemleri", FormMethod.Get))
{
    <div style="margin-bottom:15px;margin-top:15px;">
        <b>Aranacak yazar ismini giriniz: &nbsp</b> @Html.TextBox("parametre")
        <input type="submit" value="Ara" />
    </div>
}


<table class="table table-bordered">
    <tr>
        <td>Yazar Adi</td>
        <td>Yazar Soyadi</td>
        <td>Kitap Sayisi</td>
        <td>Detay</td>
    </tr>
    @foreach (var k in Model)
    {
            <tr>
                <td>@k.Yazar_Adi</td>
                <td>@k.Yazar_Soyad</td>
                <td>@k.Kitap_Sayisi</td>
                <td>@k.Detay</td>
            </tr>
    }
</table>
<a href="/KitapIslemleri/Index"><i class="glyphicon glyphicon-remove-sign"></i>&nbsp; Kitaplara Geri Don</a>
