@using MVCKutuphane.Models.Entity
@model List<TBL_OduncKitap>
@{
    ViewBag.Title = "Kitaplarim";
    Layout = "~/Views/Shared/LayoutKullanici.cshtml";
}
<br />
<h2>Odunc Almis Oldugum Kitaplar</h2>
<h2>Burada ödünç aldığınız kitapların geçmişi gösterilir. 1.01.0001 00:00:00 Tarihli kitapların kütüphaneye teslim edilmemiş olup istenilen tarihte geri döndürülmesi talep edilir</h2>
<br />
<table class="table table-bordered">
    <tr>
        <td>Kitap Adi</td>
        <td>Alis Tarihi</td>
        <td>Iade Edilmesi Gereken Tarihi</td>
        <td>Teslim Edilen Tarih</td>
    </tr>
    @foreach (var k in Model)
    {
        //1.01.0001 00:00:00
        //DateTime dt = new DateTime(0001, 01, 1, 0, 0, 0);
        //if (k.Teslim_Tarihi.Equals(DateTime.MinValue))
        if (k.Teslim_Tarihi == DateTime.Parse("1.01.0001 00:00:00"))
        {
            string renk = "Red";
            <tr style="color:@renk">
                <td>@k.TBL_Kitaplar.Kitap_Adi</td>
                <td>@Convert.ToDateTime(k.Alis_Tarihi)
                <td>@Convert.ToDateTime(k.Iade_Tarihi)
                <td>@Convert.ToDateTime(k.Teslim_Tarihi)
            </tr>
        }
        else
        {
            <tr>
                <td>@k.TBL_Kitaplar.Kitap_Adi</td>
                <td>@Convert.ToDateTime(k.Alis_Tarihi)
                <td>@Convert.ToDateTime(k.Iade_Tarihi)
                <td>@Convert.ToDateTime(k.Teslim_Tarihi)
            </tr>
        }

    }

</table>

