@model MVCKutuphane.Models.Entity.TBL_Personel
@{
    ViewBag.Title = "PersonelEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Personel Ekleme Sayfasi</h2>

<form class="form-group" method="post">
    <div style="margin-top:15px">
        <label>Personel Adi</label>
        @Html.TextBoxFor(u => u.Personel_Adi, new { @class = "form-control", maxlength = 15, minlength = 2, required = "" })
    </div>
    <div style="margin-top:15px">
        <label>Personel Soyadi</label>
        @Html.TextBoxFor(u => u.Personel_Soyadi, new { @class = "form-control", maxlength = 20, minlength = 2, required = "" })
    </div>
    <div style="margin-top:15px">
        <label>Kullanici Adi</label>
        @Html.TextBoxFor(u => u.Personel_Kullanci_Adi, new { @class = "form-control", maxlength = 20, minlength = 4, required = "" })
    </div>
    <div style="margin-top:15px">
        <label>Cinsiyet (E=Erkek, K=Kadın, B=Belirsiz)</label>
        @Html.TextBoxFor(u => u.Cinsiyet, new { @class = "form-control", maxlength = 1, minlength = 1, required = "" })
    </div>
    <div style="margin-top:15px">
        <label>Telefon Numaranız(0 ile)</label>
        @Html.TextBoxFor(u => u.Telefon, new { @class = "form-control", maxlength = 11, minlength = 11, required = "" })
    </div>
    <div style="margin-top:15px">
        <label>Sifre</label>
        @Html.TextBoxFor(u => u.Sifre, new { @class = "form-control", maxlength = 16, minlength = 8, required = "" })
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id="BtnEkle">Personel Ekle</button>
        <input type="hidden" name="Durum" value="True" />
        <input type="hidden" name="Tur" value=3 />
    </div>
    @if (ViewBag.Hata == null)
    {
        <p class="text-danger">@ViewBag.BasariliKayit</p>
    }
    else
    {
        <p class="text-danger">@ViewBag.Hata</p>
    }
</form>

